<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">

    {% load static %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="particles-js"></div>
    <!-- <div class="card is-rounded is-wide"> -->
      <div class="blurred">
        <div id="login-ctn">
          <form method="POST" action="{% url 'playlist' %}">
            {% csrf_token %}
            <div class="field">
              <!-- <label class="label">Username</label> -->
              <div class="control">
                <input class="input" type="text" name="username" placeholder="Username">
              </div>
            </div>

            <div class="field">
              <p class="control">
                <button class="button is-dark is-fullwidth" type="submit">
                  Authenticate
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'particles.js' %}"></script>
    <script src="{% static 'config.js' %}"></script>
  </body>
</html>