<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />

    <style>
      .image img { height: 100%; object-fit: cover; }

      .center {
        margin: auto;
        width: 100%;
      }

   </style>
  </head>
  <body>
    
    <section class="hero is-dark is-small is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title"> Tracks by BPM </p>
        </div>
        <br>
        <div class="container">
          <form>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <input class="input" style="width:100px" type="text" id="lower" placeholder="Lower">
              </div>
              <p class="control">
                <a class="button is-dark is-inverted is-outlined"> to </a>
              </p>
              <div class="control">
                <input class="input" style="width:100px" type="text" id="upper" placeholder="Upper">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <div class="columns" style="margin-top: 10px;">
      <div class="column is-one-third">
        <div class="center" style="width:300px; height:200px; ">
          <div class="card is-rounded" style="margin-left: 20px; margin-top: 10px;">
            <div class="card-image">
              <figure class="image is-256x256 center playlist-img">
                <a href="#"> <img src="{{ playlist.imageUrl }}" alt="Playlist image"></a>
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2 style="text-align: center;">{{ playlist.name }}</h2>
                <div class="field is-grouped">
                  <a class="button is-light is-fullwidth" href="/">Home</a>
                </div>
                <div class="field is-grouped">
                  <a class="button is-light is-fullwidth" href="/refresh/{{ playlist.playlistId }}">Refresh Playlist</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <table align="center" class="table is-striped is-hoverable" id="tracks">
          {% for t in tracks %}
          <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.artist }}</td>
            <td>{{ t.tempo }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="column">
      </div>
    </div>


  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    var $rows = $('#tracks tr');
    $('#lower').keyup(function() {
        var val = parseInt($.trim($(this).val()).replace(/ +/g, ' '), 10);
        var upper = $('#upper').val();
        if (upper == "") { upper = "10000"; }
        console.log("upper =" + upper);
        console.log("lower = " + val);
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').trim();
            var text_arr = text.split(/(\s+)/);
            var bpm = parseInt(text_arr.slice(-1)[0], 10);
            // filter so backward
            return (bpm < val || bpm > parseInt(upper, 10));
        }).hide();
    });

    var $rows = $('#tracks tr');
    $('#upper').keyup(function() {
        var val = parseInt($.trim($(this).val()).replace(/ +/g, ' ').toLowerCase(), 10);
        var lower = $('#lower').val();
        if (lower == "") { lower = "-10000"; }
        console.log("lower = " + lower);
        console.log("upper = " + val);
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').trim();
            var text_arr = text.split(/(\s+)/);
            var bpm = parseInt(text_arr.slice(-1)[0], 10);
            return (bpm > val || bpm < parseInt(lower, 10));
        }).hide();
    });

  </script>

  </body>
</html>